## In this Notebook, I will merge and structure Pollutant and Meteorological datasets, in order to get ready for being used as definitive dataset to be modelled under Machine Learning

# 1. Import libraries

In [1]:
import numpy as np
import pandas as pd

# 2. Import Pollutant dataset

In [2]:
df1 = pd.read_csv("Data_sets/Pollutant_ready.csv", index_col=0)
pd.options.display.max_columns = None
df1

,data,CO max,H2S max,NO max,NO2 max,NOx max,PM1 max,PM10 max,PM2.5 max,SO2 max,CO,H2S,NO,NO2,NOx,PM1,PM10,PM2.5,SO2
0,2010-01-01,0.2,1.4,1.0,7.0,NaN,NaN,NaN,NaN,1.0,0.200000,1.108333,1.000000,2.625000,NaN,NaN,NaN,NaN,1.000000
1,2010-01-02,0.2,1.8,13.0,44.0,NaN,NaN,NaN,NaN,1.0,0.200000,1.137500,2.250000,12.916667,NaN,NaN,NaN,NaN,1.000000
2,2010-01-03,0.3,1.6,17.0,48.0,NaN,NaN,NaN,NaN,7.0,0.204167,1.158333,3.625000,22.166667,NaN,NaN,NaN,NaN,1.875000
3,2010-01-04,0.2,2.0,26.0,42.0,NaN,NaN,NaN,NaN,4.0,0.200000,1.382609,8.217391,28.304348,NaN,NaN,NaN,NaN,1.652174
4,2010-01-05,0.4,1.4,23.0,44.0,NaN,NaN,NaN,NaN,2.0,0.220833,1.037500,5.750000,24.958333,NaN,NaN,NaN,NaN,1.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3987,2020-12-27,NaN,3.1,13.0,44.0,63.0,23.0,28.0,24.0,5.0,NaN,1.408333,2.833333,13.625000,17.416667,8.291667,10.458333,8.916667,1.500000
3988,2020-12-28,NaN,1.6,6.0,27.0,37.0,4.0,26.0,6.0,9.0,NaN,1.208333,1.541667,7.833333,9.666667,2.083333,7.541667,3.083333,5.416667
3989,2020-12-29,NaN,1.5,5.0,15.0,16.0,8.0,14.0,9.0,4.0,NaN,1.150000,1.250000,6.791667,8.166667,2.458333,4.708333,3.208333,2.333333
3990,2020-12-30,NaN,1.3,3.0,20.0,25.0,2.0,42.0,5.0,1.0,NaN,1.120833,1.208333,5.458333,6.916667,1.416667,7.500000,2.250000,1.000000
3991,2020-12-31,NaN,1.5,7.0,40.0,51.0,21.0,27.0,22.0,1.0,NaN,1.175000,1.500000,10.791667,12.583333,5.958333,8.916667,6.708333,1.000000

# 3. Import Meteorological dataset

In [3]:
df2 = pd.read_csv("Data_sets/Meteo_ready.csv", index_col=0)
pd.options.display.max_columns = None
df2

,data_lectura,Pressió atmosfèrica màxima,Pressió atmosfèrica mínima,Humitat relativa màxima,Velocitat del vent a 10 m (esc.),Direcció de vent 10 m (m. 1),Temperatura,Humitat relativa,Pressió atmosfèrica,Precipitació,Irradiància solar global,Temperatura màxima,Temperatura mínima,Humitat relativa mínima,Ratxa màxima del vent a 10 m,Direcció de la ratxa màxima del vent a 10 m,Precipitació màxima en 1 minut
0,2010-01-01,1003.531915,1002.680851,45.191489,5.848936,267.234043,11.278723,44.170213,1003.127660,0.000000,71.574468,11.444681,11.102128,43.042553,12.021277,271.957447,0.000000
1,2010-01-02,1016.875000,1016.312500,57.020833,3.537500,220.875000,9.833333,55.625000,1016.645833,0.000000,61.458333,10.056250,9.604167,54.312500,6.714583,216.187500,0.000000
2,2010-01-03,1016.458333,1016.125000,79.250000,1.527083,101.083333,9.666667,78.000000,1016.312500,0.000000,93.895833,9.927083,9.418750,76.687500,2.870833,118.208333,0.000000
3,2010-01-04,1008.625000,1008.354167,82.583333,1.802083,81.458333,9.406250,81.625000,1008.500000,0.250000,36.604167,9.572917,9.233333,80.500000,3.570833,82.333333,0.027083
4,2010-01-05,1000.083333,999.833333,86.187500,1.868750,158.625000,9.716667,85.458333,999.979167,0.079167,14.375000,9.787500,9.654167,84.625000,3.497917,174.458333,0.022917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4010,2020-12-27,1009.404167,1008.766667,65.937500,1.931250,217.395833,6.831250,63.083333,1009.087500,0.000000,59.062500,7.322917,6.295833,60.708333,4.272917,240.083333,0.000000
4011,2020-12-28,995.566667,994.956250,49.062500,5.014583,265.958333,10.668750,47.375000,995.262500,0.000000,106.604167,10.983333,10.360417,45.750000,10.270833,269.041667,0.000000
4012,2020-12-29,1001.879167,1001.518750,47.687500,3.875000,258.208333,10.533333,46.104167,1001.689583,0.000000,91.479167,10.879167,10.147917,44.708333,8.314583,270.229167,0.000000
4013,2020-12-30,1010.639583,1010.081250,49.250000,6.022917,295.020833,9.764583,48.312500,1010.368750,0.000000,77.208333,9.947917,9.558333,47.354167,12.089583,293.333333,0.000000
4014,2020-12-31,1011.370833,1011.060417,55.145833,2.810417,261.875000,10.129167,53.770833,1011.212500,0.000000,97.291667,10.443750,9.833333,52.333333,5.789583,272.229167,0.000000

# 4. Merge Pollutant and Meteorological datasets

In [4]:
#As pollutant dataset has fewer rows than meteorological one, then, datasets are merged with pollutant primary domain data 
merged = pd.merge(left=df1, right=df2, how='left', left_on='data', right_on='data_lectura')
merged

,data,CO max,H2S max,NO max,NO2 max,NOx max,PM1 max,PM10 max,PM2.5 max,SO2 max,CO,H2S,NO,NO2,NOx,PM1,PM10,PM2.5,SO2,data_lectura,Pressió atmosfèrica màxima,Pressió atmosfèrica mínima,Humitat relativa màxima,Velocitat del vent a 10 m (esc.),Direcció de vent 10 m (m. 1),Temperatura,Humitat relativa,Pressió atmosfèrica,Precipitació,Irradiància solar global,Temperatura màxima,Temperatura mínima,Humitat relativa mínima,Ratxa màxima del vent a 10 m,Direcció de la ratxa màxima del vent a 10 m,Precipitació màxima en 1 minut
0,2010-01-01,0.2,1.4,1.0,7.0,NaN,NaN,NaN,NaN,1.0,0.200000,1.108333,1.000000,2.625000,NaN,NaN,NaN,NaN,1.000000,2010-01-01,1003.531915,1002.680851,45.191489,5.848936,267.234043,11.278723,44.170213,1003.127660,0.000000,71.574468,11.444681,11.102128,43.042553,12.021277,271.957447,0.000000
1,2010-01-02,0.2,1.8,13.0,44.0,NaN,NaN,NaN,NaN,1.0,0.200000,1.137500,2.250000,12.916667,NaN,NaN,NaN,NaN,1.000000,2010-01-02,1016.875000,1016.312500,57.020833,3.537500,220.875000,9.833333,55.625000,1016.645833,0.000000,61.458333,10.056250,9.604167,54.312500,6.714583,216.187500,0.000000
2,2010-01-03,0.3,1.6,17.0,48.0,NaN,NaN,NaN,NaN,7.0,0.204167,1.158333,3.625000,22.166667,NaN,NaN,NaN,NaN,1.875000,2010-01-03,1016.458333,1016.125000,79.250000,1.527083,101.083333,9.666667,78.000000,1016.312500,0.000000,93.895833,9.927083,9.418750,76.687500,2.870833,118.208333,0.000000
3,2010-01-04,0.2,2.0,26.0,42.0,NaN,NaN,NaN,NaN,4.0,0.200000,1.382609,8.217391,28.304348,NaN,NaN,NaN,NaN,1.652174,2010-01-04,1008.625000,1008.354167,82.583333,1.802083,81.458333,9.406250,81.625000,1008.500000,0.250000,36.604167,9.572917,9.233333,80.500000,3.570833,82.333333,0.027083
4,2010-01-05,0.4,1.4,23.0,44.0,NaN,NaN,NaN,NaN,2.0,0.220833,1.037500,5.750000,24.958333,NaN,NaN,NaN,NaN,1.083333,2010-01-05,1000.083333,999.833333,86.187500,1.868750,158.625000,9.716667,85.458333,999.979167,0.079167,14.375000,9.787500,9.654167,84.625000,3.497917,174.458333,0.022917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3987,2020-12-27,NaN,3.1,13.0,44.0,63.0,23.0,28.0,24.0,5.0,NaN,1.408333,2.833333,13.625000,17.416667,8.291667,10.458333,8.916667,1.500000,2020-12-27,1009.404167,1008.766667,65.937500,1.931250,217.395833,6.831250,63.083333,1009.087500,0.000000,59.062500,7.322917,6.295833,60.708333,4.272917,240.083333,0.000000
3988,2020-12-28,NaN,1.6,6.0,27.0,37.0,4.0,26.0,6.0,9.0,NaN,1.208333,1.541667,7.833333,9.666667,2.083333,7.541667,3.083333,5.416667,2020-12-28,995.566667,994.956250,49.062500,5.014583,265.958333,10.668750,47.375000,995.262500,0.000000,106.604167,10.983333,10.360417,45.750000,10.270833,269.041667,0.000000
3989,2020-12-29,NaN,1.5,5.0,15.0,16.0,8.0,14.0,9.0,4.0,NaN,1.150000,1.250000,6.791667,8.166667,2.458333,4.708333,3.208333,2.333333,2020-12-29,1001.879167,1001.518750,47.687500,3.875000,258.208333,10.533333,46.104167,1001.689583,0.000000,91.479167,10.879167,10.147917,44.708333,8.314583,270.229167,0.000000
3990,2020-12-30,NaN,1.3,3.0,20.0,25.0,2.0,42.0,5.0,1.0,NaN,1.120833,1.208333,5.458333,6.916667,1.416667,7.500000,2.250000,1.000000,2020-12-30,1010.639583,1010.081250,49.250000,6.022917,295.020833,9.764583,48.312500,1010.368750,0.000000,77.208333,9.947917,9.558333,47.354167,12.089583,293.333333,0.000000
3991,2020-12-31,NaN,1.5,7.0,40.0,51.0,21.0,27.0,22.0,1.0,NaN,1.175000,1.500000,10.791667,12.583333,5.958333,8.916667,6.708333,1.000000,2020-12-31,1011.370833,1011.060417,55.145833,2.810417,261.875000,10.129167,53.770833,1011.212500,0.000000,97.291667,10.443750,9.833333,52.333333,5.789583,272.229167,0.000000

In [5]:
#Let's check type features
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3992 entries, 0 to 3991
Data columns (total 36 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   data                                         3992 non-null   object
 1   CO max                                       343 non-null    float64
 2   H2S max                                      3961 non-null   float64
 3   NO max                                       3952 non-null   float64
 4   NO2 max                                      3952 non-null   float64
 5   NOx max                                      3323 non-null   float64
 6   PM1 max                                      2638 non-null   float64
 7   PM10 max                                     3073 non-null   float64
 8   PM2.5 max                                    3066 non-null   float64
 9   SO2 max                                      3975 non-null   float64
 10  CO                                           343 non-null    float64
 11  H2S                                          3961 non-null   float64
 12  NO                                           3952 non-null   float64
 13  NO2                                          3952 non-null   float64
 14  NOx                                          3323 non-null   float64
 15  PM1                                          2638 non-null   float64
 16  PM10                                         3073 non-null   float64
 17  PM2.5                                        3066 non-null   float64
 18  SO2                                          3975 non-null   float64
 19  data_lectura                                 3989 non-null   object
 20  Pressió atmosfèrica màxima                   3988 non-null   float64
 21  Pressió atmosfèrica mínima                   3988 non-null   float64
 22  Humitat relativa màxima                      3988 non-null   float64
 23  Velocitat del vent a 10 m (esc.)             3989 non-null   float64
 24  Direcció de vent 10 m (m. 1)                 3988 non-null   float64
 25  Temperatura                                  3987 non-null   float64
 26  Humitat relativa                             3988 non-null   float64
 27  Pressió atmosfèrica                          3988 non-null   float64
 28  Precipitació                                 3989 non-null   float64
 29  Irradiància solar global                     3988 non-null   float64
 30  Temperatura màxima                           3987 non-null   float64
 31  Temperatura mínima                           3987 non-null   float64
 32  Humitat relativa mínima                      3988 non-null   float64
 33  Ratxa màxima del vent a 10 m                 3989 non-null   float64
 34  Direcció de la ratxa màxima del vent a 10 m  3988 non-null   float64
 35  Precipitació màxima en 1 minut               3989 non-null   float64
dtypes: float64(34), object(2)
memory usage: 1.1+ MB

# 5. Export Dataset merged

In [6]:
#dataset merged as csv file
merged.to_csv(r'Data_sets/Pollutant_Meteo_merged_ready.csv')